################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab-6/v15/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/lab6/.vs/lab6/v15/Browse.VC.db
/lab6/.vs/lab6/v15/Browse.VC.opendb
/lab6/.vs/lab6/v15/ipch/a5e72f75e572634f.ipch
